.btn {
    display: flex;
    width: fit-content;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-style: double;
    border-width: 4px;
    border-radius: 0.5rem;
}

.btn:hover {
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;

    > svg {
        -webkit-transition: stroke 100ms linear;
        -ms-transition: stroke 100ms linear;
        transition: stroke 100ms linear;
    }
}

/********** Login **********/

.login-btn{
    margin: 0.5rem;
    /* border-color: theme("colors.red-dark"); */
}


/********** Back **********/

.back-btn {
    background-color: theme("colors.white-dark");
    border-color: theme("colors.gray");
}

.back-btn:hover {
    color: theme("colors.white");
    background-color: theme("colors.gray");
}

.back-btn svg{
    fill: theme("colors.white-dark");
    stroke: theme("colors.black");
}

.back-btn:hover svg {
    stroke: theme("colors.white");
    fill: theme("colors.gray");
}

/********** Create **********/

.add-btn {
    align-self: center;
    background-color: theme("colors.green");
    border-color: theme("colors.green-dark");
}

.add-btn svg{
    fill: theme("colors.white");
    stroke: theme("colors.black");
}

.add-btn:hover svg{
    stroke: theme("colors.white");
}

.add-btn:hover {
    border-color: theme("colors.pink");
    color: theme("colors.white");
}

.add-btn:disabled {
    background-color: #9abb9c;
}

/********** Remove **********/

.remove-btn{
    background-color: theme("colors.red-light");
    border-color: theme("colors.red-dark");
}

.remove-btn svg{
    fill: theme("colors.red-light");
    stroke: theme("colors.black");
}

.remove-btn:hover {
    color: theme("colors.white");
    border-color: theme("colors.red");
    background-color: theme("colors.red-dark");
}

.remove-btn:hover svg {
    stroke: theme("colors.white");
    fill: theme("colors.red-dark");
}

/********** Modify **********/

.modify-btn{
    background-color: theme("colors.orange-light");
    border-color: theme("colors.orange-dark");
}

.modify-btn svg{
    fill: theme("colors.black");
    stroke: theme("colors.black");
}

.modify-btn:hover {
    color: theme("colors.white");
    border-color: theme("colors.orange-light");
    background-color: theme("colors.orange-dark");
}

.modify-btn:hover svg {
    stroke: theme("colors.white");
    fill: theme("colors.white");
}