.card-container {
    /* center content using flex box */
    display: flex;
    justify-content: center;
    align-items: center;
    /* overlay */
    box-shadow: 0 0 0 100px inset, 0 0 5px grey;
    /* hover out transition */
    transition: box-shadow 0.5s;
    float: left;
    margin: 10px;
    animation: append-animate .2s linear;
    /* color: theme("colors.red-dark"); */
    /* border-color: theme("colors.red-dark"); */
}

.card-container::after {
    width: 80%;
    height: 80%;
    display: block;
    white-space: pre;
    font: 15pt 'sigmar one';
    color: theme("colors.white");
    border: 2px solid;
    text-align: center;
    /* center content using flex box */
    display: flex;
    justify-content: center;
    align-items: center;
    /* hover out transition */
    transition: opacity 1s .5s;
  }

  .card-container:hover {
    box-shadow: 0 0 0 5px inset, 0 0 5px grey, 0 0 10px grey inset;
    transition: box-shadow 1s;
  }

  .card-container:hover::after {
    opacity: 0;
    transition: opacity .5s;
  }

  #wrapper {
    width: 500px;
    height: 500px;
    margin:  auto;
  }

  @keyframes append-animate {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;	
    }
  }